@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

@theme {
  --animate-stopping-playing: stopping-playing 2s ease forwards;

  @keyframes stopping-playing {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-90%);
    }
  }

  --animate-playing: playing 1s linear infinite;

  @keyframes playing {
    100% {
      transform: translateY(-90%);
    }
  }

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
